{% extends "baze.html" %}

{% block content %}



   <div class="card bg-light shadow-lg p-3 mb-5 bg-white rounded" style="border: none; margin-top: 0">
              <div class="card-body">
   <h2 style="margin-top: 10px">Додайте новий пост</h2>
   <form action="/add_post/" method="POST" style="margin-top: 40px">
      <div class="form-group">
        <label for="exampleFormControlInput1">Заголовок поста</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput2">Текст поста</label>
        <textarea class="form-control" id="exampleFormControlInput2" rows="7" name="text"></textarea>
      </div>
      <a href="/"><button type="submit" class="btn btn-dark">Опублікувати</button></a>
    </form>

              </div>
   </div>



{% endblock %}